
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

:root {
  --viewport-mobile-xs: 320px;
  --viewport-mobile-s: 375px;
  --viewport-mobile-l: 425px;
  --viewport-tablet: 768px;
  --viewport-laptop: 1024px;
  --viewport-laptop-l: 1440px;
  --viewport-4k: 2560px;

  --min-width: var(--viewport-mobile-xs);
  --max-width: var(--viewport-mobile-l);

  --area-width-min: 80px;
  --area-height-min: var(--area-width-min);
  --area-gap: 18px;
  --cols: 4;
  --content-rows: 6;
  --main-content-rows: 4;
  --footer-rows: 3;

  --bg-color: #f6edc1;

  --border-radius: 8px;

  --size-xs: 1;
  --size-s: 2;
  --size-m: 2;
  --size-l: 3;
  --size-xl: 3;
  --size-max: 4;

}

html {
  line-height: 1.5;
  font-size: clamp(12px, 4vw, 16px);
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--bg-color);
}

.layout {
  min-width: var(--min-width);
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), minmax(var(--area-width-min), 1fr));
  /* grid-auto-rows: minmax(var(--area-height-min), calc(100vw / var(--cols))); */
  grid-template-rows: 
    repeat(var(--content-rows), clamp(var(--area-height-min), calc(100vw / var(--cols)), calc(var(--max-width) / var(--cols))))
    1fr
    repeat(var(--footer-rows), clamp(var(--area-height-min), calc(100vw / var(--cols)), calc(var(--max-width) / var(--cols))));
  justify-content: center;
}


/* Just to make the grid visible */

/* .grid > * {
  background: rgba(0, 0, 0, .1);
  border: 1px white solid;
} */

.cs-xs, .sq-xs {
  grid-column-end: span var(--size-xs);
}
.cs-s, .sq-s {
  grid-column-end: span var(--size-s);
}
.cs-m, .sq-m {
  grid-column-end: span var(--size-m);
}
.cs-l, .sq-l {
  grid-column-end: span var(--size-l);
}
.cs-xl, .sq-xl {
  grid-column-end: span var(--size-xl);
}
.cs-max, .sq-max {
  grid-column-end: span var(--size-max);
}
.rs-xs, .sq-xs {
  grid-row-end: span var(--size-xs);
}
.rs-s, .sq-s {
  grid-row-end: span var(--size-s);
}
.rs-m, .sq-m {
  grid-row-end: span var(--size-m);
}
.rs-l, .sq-l {
  grid-row-end: span var(--size-l);
}
.rs-xl, .sq-xl {
  grid-row-end: span var(--size-xl);
}
.rs-max, .sq-max {
  grid-row-end: span var(--size-max);
}

.area {
  margin: calc(var(--area-gap) / 2);
}
.rounded {
  border-radius: var(--border-radius);
}
.contain {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
a[aria-current='page'] {
  background-color: white;
  font-weight: 500;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-inline li {
  display: inline-block;
  margin: .2rem .5rem;
  vertical-align: middle;
}
header {
  place-self: stretch;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
}
header img {
  max-width: 50%;
}
header h1 {
  font-size: 1rem;
  font-weight: 500;
}
h2 {
  margin: 1rem 0 .5rem 0;
}
main p {
  margin: 0 0 .5rem 0;
  text-align: justify;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav li a {
  display: block;
  width: 100%;
  padding: 8px 18px;
  border-radius: var(--border-radius);
  font-size: 1rem;
  text-align: center;
}
nav li a:hover {
  background-color: #ddd;
}
mark {
  padding: 1rem;
  text-align: center;
  background-color: #ffd000;
}
main {
  grid-row-end: span var(--main-content-rows);
}
#taichi {
  grid-column-start: 4;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
#yinyang {
  grid-column-start: 4;
}

#map {
  grid-column-start: 3;
  grid-row-start: 8;
}
#map a {
  display: block;
  height: 100%;
  position: relative;
}
#map a > figcaption {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: white;
  bottom: 0;
  position: absolute;
  padding: 1rem;
  text-align: center;
  width: 100%;
  font-size: .9rem;
  font-weight: 500;
}
#contact {
  grid-row-start: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: left;
  background-color: white;
}
#contact h4 {
  font-size: .9rem;
  margin-bottom: .4rem;
}
#contact ul {
  font-size: .7rem;
}

#biot {
  grid-column-start: 3;
  grid-row: -2;
}

footer {
  grid-row: -1;
  /* position: sticky;
  top: 100vh; */
  text-align: center;
  color: rgba(0, 0, 0, .1);
  font-size: 12px;
  place-self: end stretch;
}


@media only screen and (max-width: 320px) {

  :root {
    
  }

}

@media only screen and (min-width: 768px) {

  :root {
    --min-width: var(--viewport-tablet);
    --max-width: var(--viewport-laptop);

    --cols: 8;
    --content-rows: 7;
    --main-content-rows: 6;
    --footer-rows: 2;

    --size-xs: 1;
    --size-s: 2;
    --size-m: 3;
    --size-l: 4;
    --size-xl: 4;
    --size-max: 8;
  }

  mark {
    grid-column-start: 5;
    grid-row-start: 2;
  }
  #photo {
    grid-column-start: 1;
  }
  #taichi {
    grid-column-start: 5;
  }
  #yinyang {
    grid-column-start: 5;
  }
  #map {
    grid-column-start: 6;
    grid-row-start: 3;
  }
  #contact {
    grid-column-start: 6;
    grid-row-start: 6;
  }
  
  #biot {
    grid-column-start: 7;
  }

}

@media only screen and (min-width: 1024px) {

  :root {
    --min-width: var(--viewport-laptop);
    --max-width: var(--viewport-laptop);

    --cols: 12;
    --content-rows: 10;
    --main-content-rows: 9;
    --footer-rows: 2;

    --size-xs: 1;
    --size-s: 2;
    --size-m: 3;
    --size-l: 4;
    --size-xl: 8;
    --size-max: 12;
  }

  mark {
    grid-column-start: 5;
    grid-row-start: 2;
  }

  #photo {
  }
  #taichi {
    grid-column-start: 9;
  }
  #yinyang {
    grid-column-start: 9;
  }
  #map {
    grid-column-start: 10;
  }
  #contact {
    grid-column-start: 10;
  }
  #biot {
    grid-column-start: 11;
  }

}
